body {

}
h1, h2, p {
  /*font-family: sans-serif;
  text-align: center;*/
}
.leaflet-container {
  height: 500px;
  width: 100%;
  margin: 0 auto;

}
path.leaflet-interactive{
  stroke-width:0.7;
  fill-opacity:0.8;
}
.leaflet-control-layers-overlays,
.leaflet-control-layers-base{
    text-align:left;
    padding-left:5px;
}
/*
.leaflet-control-layers-toggle:after{
    content:"your text";
    color:#000 ;
}
.leaflet-control-layers-toggle{
    width:auto;
    background-position:3px 50% ;
    padding:3px;
    padding-left:36px;
    text-decoration:none;
    line-height:36px;

}*/
.layers-control-label{
  padding:2px;

  width:90%;
  display:inline-block;
  border: 1px solid #ffff;
}

.steelblue{
  background-color: steelblue;
}
.lightsteelblue{
  background-color:lightsteelblue;
}
.darkblue{
  background-color: darkblue;
}
.darkcyan{
  background-color: darkcyan;
}
.burlywood{
  background-color: burlywood;
}
.sandybrown{
  background-color: sandybrown;
}
.aqua{
  background-color: aqua;
}
.lightslategray{
  background-color: lightslategray;
}
.blueviolet{
  background-color: blueviolet;
}
.cadetblue{
  background-color: cadetblue;
}
.mediumpurple{
  background-color: mediumpurple;
}
.mediumturquoise{
  background-color: mediumturquoise;
}
.mediumorchid{
  background-color: mediumorchid;
}
.deeppink{
  background-color: deeppink;
}
.lightpink{
  background-color: lightpink;
}
.pink{
  background-color: pink;
}
.violet{
  background-color: violet;
}
.orange{
  background-color: orange;
}
.darksalmon{
  background-color: darksalmon;
}
.sienna{
  background-color: sienna;
}
.tomato{
  background-color: tomato;
}
.yellow{
  background-color: yellow;
}
.gold{
  background-color: yellow;
}
.navajowhite{
  background-color: navajowhite;
}
.khaki{
  background-color: khaki;
}
.brown{
  background-color: brown;
}
.firebrick{
  background-color: firebrick;
}
.lightsalmon{
  background-color: lightsalmon;
}
